version: "3"
services:

  nginx.docker:
    container_name: "remix_web_app"
    image: remix_web_app
    # user: root
    # working_dir: /app/
    # volumes:
    #   - ./:/app/
    expose:
      - 3000
      - 80
    ports:
      - 3000:3000
      - 80:80
    command: "tail -f /dev/null"
    # command: "/./app/docker/nginx/start.sh"

